.header {
    background-color: #F25912;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.link {
    color: #fff;
    padding: 1rem;
}