:root {
  --background: #211832;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 2rem 4rem;
}

@media (max-width: 768px) {
  main {
    padding: 2rem 1rem;
  }
}