.fav-card-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

@media (max-width: 1024px) {
    .fav-card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .fav-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .fav-card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.not-found {
    color: #fff;
    text-align: center;
}